extends layout

block style
	style.
		table td {border: 1px solid #CACACA !important; color: #000 !important;}
		h2 {margin: 30px 0; text-align: center;}
		tbody td {height: 100px;}
		td.width {width: 90px; font-weight: bold;}

block content
	.container
		h2= board_title
		.col-md-12
			table.table
				thead
					tr
						td.width No
						td= result.no
					tr
						td.width Title
						td= result.title
					tr
						td.width Writter
						td= result.writer
					tr
						td.width Date
						td= result.date
					tr
						td.width Views
						td= result.views
				tbody
					tr
						td(colspan='2')= result.contents