extends layout

//first. how to get parameter when linking?

block style

	style.
		canvas {border:1px solid black}
		label.hvr-skew-backward {margin-bottom: 50px;}
		img {margin:0 auto;}

		table.filter tr {max-width: 50px; max-height:20px; margin-bottom: 0 !important;}
		//table td {color: black; word-break: break-all; border: 1px solid #ddd !important;}
		//table {min-width: 450px; margin-bottom: 0 !important;}
		thead {font-weight: bold;}
		td.title {min-width: 370px;}
		td.views {min-width: 80px;}

		table-info2 td {color: black; word-break: break-all; border: 1px solid #ddd !important;}
		table-info2 {min-width: 450px; margin-bottom: 0 !important;}
		thead-info2 {font-weight: bold;}
		td.category {width: 100px;}
		td.detail {max-width: 300px;}

		h2 {margin: 30px 0; text-align: center;}
		button.btn.btn-info.write {margin: 10px 0; float: right;}
		ul.pagination > li > a:hover {background-color: #5BC0DE; color: #FFFFFF;}
		.form-group {display: inline-block !important; margin-right: 5px;}

		.img-div {height: 300px;}
		.product-img-div {position: absolute; top:0; left: 2; width: 300px; height: 300px; z-index: 0;}
		.wheel-img-div {position: absolute; top:0; left: 0; width: 300px; height: 300px; z-index: 1;}

		.back-div {position: absolute; top:7px; left: 10px; width: 100px; height: 290px; z-index: 0; background-color: white;}
		.upload-div {position: absolute; top:7px; left: 10px; width: 100px; height: 290px; z-index: 1; background-color: white;}
		.middle-div {position: absolute; top:0; left: 0; width: 215px; height: 300px; z-index: 2;}
		.front-div {position: absolute; top:0; left: 0; width: 215px; height: 300px; z-index: 3;}
		//.middle-div {position: absolute; top:30%; left:30%; width: 40%; height: 40%; z-index: 1; background-color: red;}

	//parameter 1 : product type
	//parameter 2 : img url
	//parameter 3 : wheel color (We should change wheel img)
					// the wheel img is in the images/custom/...
	//parameter 4 : selected product number (deck)
	//parameter 5 : selected product number (truck)
	//parameter 6 : selected product number (wheel)
block content
	.container
		hr.hidden-xs
		// show the step of current
		.col-sm-3.custom_STEP-current
			h3(align='center').font-ubuntubold
				| STEP1
				br
				| Select Parts
		.col-sm-3.custom_STEP-current
			h3(align='center').font-ubuntubold.hidden-xs
				| STEP2
				br
				| Upload Image
		.col-sm-3.custom_STEP-next
			h3(align='center').font-ubuntubold.hidden-xs
				| STEP3
				br
				| Design Colors
		.col-sm-3.custom_STEP-next
			h3(align='center').font-ubuntubold.hidden-xs
				| STEP4
				br
				| Submit and Finish!
		br.hidden-xs
		br.hidden-xs
		hr
		.col-md-6.text-center.profile_left
			h3(align = 'left') Preview
			//canvas#canvas(width='400px', height='400px').hidden-xs.hidden-sm
			//canvas#canvas(width='600px', height='400px').hidden-xs.hidden-md.hidden-lg
			//canvas#canvas(width=auto, height='300px').hidden-sm.hidden-md.hidden-lg
				| This browser do not support canvas.
			.img-div.col-xs-12.col-sm-6.col-md-6.col-lg-6
				img(src='images/product/custom/long/deck/14260528758m0.jpg').product-img-div
				img(src='images/custom/wheel-a-3.png').wheel-img-div
			.img-div.col-xs-12.col-sm-6.col-md-6.col-lg-6
				img(src='images/custom/back-tm.jpg').back-div
				//img(src='images/custom/test.jpg').upload-div
				img(src='images/custom/custom-view.png').middle-div
				img(src='images/custom/wheel-3.png').front-div

			table.table-info2.table-hover.table-striped
				thead
					tr
						td.category
							font(color='black') category
						td.detali
							font(color='black') values
				tbody
					tr
						td
							font(color='black') Board Type
						td
							font(color='#42BD71', size='6px').font-koolbean Long Board
					tr
						td
							font(color='black') Deck Name
						td
							font(color='#42BD71', size='5px') #######
					tr
						td
							font(color='black') Truck Name
						td
							font(color='#42BD71', size='5px') #######
					tr
						td
							font(color='black') Wheel Name
						td
							font(color='#42BD71', size='5px') #######
		hr.hidden-md.hidden-lg
		.col-md-6.myinfo_detail-right		
			//h3 Search Filter
			//hr
			form(action='#', accept-charset='utf-8', name='datalist', method='get')
				fieldset(style='width:350, border=1 solid black')
					legend
						h4.cate Wheel Color
						button.btn.color-btn(type='button', style='background-color: black;', value='0')
						button.btn.color-btn(type='button', style='background-color: white;', value='1')
						button.btn.color-btn(type='button', style='background-color: red;', value='2')
						button.btn.color-btn(type='button', style='background-color: orange;', value='3')
						button.btn.color-btn(type='button', style='background-color: yellow;', value='4')
						button.btn.color-btn(type='button', style='background-color: green;', value='5')
						button.btn.color-btn(type='button', style='background-color: blue;', value='6')
						button.btn.color-btn(type='button', style='background-color: purple;', value='7')
						button.btn.color-btn(type='button', style='background-color: #79E5CB;', value='8')
					legend
						h4.cate Image Upload
						h4
							| Please upload image size with
							| [width 100pixel, height 290pixel].
						// upload
						input#img.form-control(type='file', name='file', placeholder='Main Image File', required)
					legend
						h4.cate Search
						/////////////////////////////////////////////h3 Type
						input(type='radio', value='val', name='radiotest') 
						| All
						input(type='radio', value='val', name='radiotest')
						| Deck
						input(type='radio', value='val', name='radiotest')
						| Truck
						input(type='radio', value='val', name='radiotest')
						| Wheel
						br
						br
						select(id = 'text', name = 'product type')
							option(value = 'first', name = 'first') Long board
							option(vaule = 'second', name = 'second') Cruser board
							option(vaule = 'second', name = 'second') Skate board
						h3 Price
						h4.font-ubuntureg
						label
							| minimum : 
							input(type='number', name='text', style='text-align: right; width:200px').hidden-xs
							input(type='number', name='text', style='text-align: right; width:100px').hidden-sm.hidden-md.hidden-lg
							|  KRW
							br
							| maximum : 
							input(type='number', name='text', style='text-align: right; width:200px').hidden-xs
							input(type='number', name='text', style='text-align: right; width:100px').hidden-sm.hidden-md.hidden-lg
							|  KRW
						h3 Name
						label
							input(type='text', name='text', style='text-align: right; width:250px').hidden-xs
							input(type='text', name='text', style='text-align: right; width:200px').hidden-sm.hidden-md.hidden-lg
							input(type='submit', value='search').font-ubuntureg


							// black
			//input(type='submit', value='PREV').font-ubuntureg
			//input(type='reset', value='reset').font-ubuntureg
			input(type='submit', value='FINISH!').font-ubuntureg
			br
			br
			.clearfix
			.col-md-12
				.mid-popular
				each val in list
					.col-md-4.item-grid1.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/product/#{val.img_url}', alt='', align = 'center', height = '200px', width = '200px')
								.zoom-icon
									a.picture(href='images/product/#{val.img_url}', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='/product?no=#{val.SN}')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span #{type}
										h6
											a(href='/product?no=#{val.SN}')= val.name
									.clearfix
								.mid-2
									p
										em.item_price #{val.price} KRW
									.blpck
									.clearfix
