extends layout

block style
	style.
		label.hvr-skew-backward {margin-bottom: 50px;}
		#corp_num {display: none;}

block content
	.container
		br
		br
		h3
			| Customizing Result page
		br
		.payinfo
			h4
			b Customizing Information 
			.check-out
				.bs-example4(data-example-id='simple-responsive-table')
					.table-responsive
						table#customizing_result.table-heading
							tr
								th.table-grid(align='center') board type
								th(align='center') buyer
								th(align='center') comment 
								td(align='center') deck 
								th(align='center') wheel
								th(align='center') truck
								td(align='center') deck color 
								th(align='center') wheel color
								th(align='center') truck color
							each val in contents
								tr
									td(align='center')= val.board
									td(align='center')= val.buyer_SN
									td(align='center')= val.comment
									td(align='center')= val.deck_SN
									th(align='center')= val.wheel_SN 
									th(align='center')= val.truck_SN
									td(align='center')= val.deck_color
									th(align='center')= val.wheel_color 
									th(align='center')= val.truck_color