extends layout

block content
	// banner, banner image is ba11. And it is in the style.css - JUNG
	.banner
		.container
			section.rw-wrapper
				h1.rw-sentence
					span(align='center')
						|  DESIGN
						br.hidden-md.hidden-lg
						|  YOUR SELF
					.rw-words.rw-words-2
						span Easy Customizing
						span Beautiful Designs
						span Fast Services
						span But Inexpensive
						span Try It Now!
						span Only for You
	// content
	.content
		.container
			// products
			.content-mid
				h3 Recent Items
				label.line
				.mid-popular
			.col-md-12
				each val in list
          .col-md-3.item-grid1.simpleCart_shelfItem
            .mid-pop
              .pro-img
                img.img-responsive(src='images/product/#{val.img_url}', alt='', align = 'center', height = '200px', width = '200px')
                .zoom-icon
                  a.picture(href='images/product/#{val.img_url}', rel='title')
                    i.glyphicon.glyphicon-search.icon
                  a(href='/product?no=#{val.SN}')
                    i.glyphicon.glyphicon-menu-right.icon
              .mid-1
                .women
                  .women-top
                    span #{val.typeString}
                    h6
                      a(href='/product?no=#{val.SN}') #{val.name}
                  .img.item_add
                    a(href='#')
                      img(src='images/ca.png', alt='')
                  .clearfix
                .mid-2
                  p
                    em.item_price #{val.price} KRW
                  .block
                  .clearfix