doctype html
html
	link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
	
	body(onload='window.resizeTo(400,400)')
		h2
			| Deal Detail view page
		table
			tr
				td Deal number
				td(align='center')= info.SN
			tr
				td Order number
				td(align='center')= info.order_SN
			tr
				td Date
				td(align='center')= date
			tr
				td Seller comment
				td(align='center')= seller_comment
			tr
				td Buyer comment
				td(align='center')= buyer_comment
		input(type='button', value='Messanger', onclick='popMessanger();')
		|&nbsp;
		input(type='button', value='Close', onclick='popupClose();')
		script(language='javascript').
			function popupClose() {	alert("No change"); window.close(); }
			function popMessanger() {
					window.close();
					window.opener.location.href='/thread?type=#{info.order_SN}';
			}
		script(src='js/jquery.min.js')
		script(src='js/bootstrap.min.js')