doctype html
html
	link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
	
	body(onload='window.resizeTo(600,700)')
		h2
			| Stock Detail view page for seller
		table
			tr
				td Product number
				td(align='center')= info.SN
				td 
					input#SN(type='text', size='36', placeholder='Cannot change this part', disabled)
			tr
				td Type
				td(align='center')= info.type
				td 
					input#type(type='text', size='36', placeholder='change type')
			tr
				td Sub-type
				td(align='center')= info.subtype
				td 
					input#subtype(type='text', size='36', placeholder='Change sub type')
			tr
				td name
				td(align='center')= info.name
				td 
					input#name(type='text', size='36', placeholder='Change name')
			tr
				td price
				td(align='center')= info.price
				td 
					input#price(type='text', size='36', placeholder='Change price')
			tr
				td stock
				td(align='center')= info.stock
				td 
					input#stock(type='text', size='36', placeholder='Change stock')
			tr
				td date
				td(align='center')= info.date
				td 
					input#date(type='text', size='36', placeholder='Cannot change this part', disabled)
			tr
				td img-url
				td(align='center')= info.img_url
				td 
					input#img_url(type='text', size='36', placeholder='Change img-url')
			tr
				td color
				td(align='center')= info.color
				td 
					input#color(type='text', size='36', placeholder='Change color')
		script(language='javascript').
			function popupClose() {	alert("No change"); window.close(); }
			function popupSaveClose() {
				var sendData = {};
				if ($('#type').val() != '')
					sendData.nickname = $('#type').val();
				if ($('#subtype').val() != '')
					sendData.phone_number = $('#subtype').val();
				if ($('#name').val() != '')
					sendData.address = $('#name').val();
				if ($('#price').val() != '')
					sendData.corp_num = $('#price').val();
				if ($('#stock').val() != '')
					sendData.nickname = $('#stock').val();
				if ($('#img_url').val() != '')
					sendData.phone_number = $('#img_url').val();
				if ($('#color').val() != '')
					sendData.address = $('#color').val();
				if (sendData != {})
					$.ajax({
						url: '/change_product',
			      type: "POST",
			      data: sendData,
			      success: function(data) {
			        if (data.reg_success) {
								alert("Change Complete.");
								window.close();
								window.opener.location.reload();
			        } else {
			          alert('Change failed. Please modify your changes.');
			        }
			      }
					});
				else
					alert('No change detected.');
			}
		script(src='js/jquery.min.js')
		script(src='js/bootstrap.min.js')