extends layout

block style
	style.
		img {margin:0 auto;}


		table td {color: black; word-break: break-all; border: 1px solid #ddd !important;}
		table {min-width: 450px; margin-bottom: 0 !important;}
		thead {font-weight: bold;}
		td.title {min-width: 370px;}
		td.views {min-width: 80px;}

		table-info2 td {color: black; word-break: break-all; border: 1px solid #ddd !important;}
		table-info2 {min-width: 450px; margin-bottom: 0 !important;}
		thead-info2 {font-weight: bold;}
		td.category {width: 130px;}
		td.detail {max-width: 320px;}

		h2 {margin: 30px 0; text-align: center;}
		button.btn.btn-info.write {margin: 10px 0; float: right;}
		ul.pagination > li > a:hover {background-color: #5BC0DE; color: #FFFFFF;}
		.form-group {display: inline-block !important; margin-right: 5px;}

block content

	.container
		.col-md-6.text-center.profile_left
			br
			h3(align = 'left') Seller Information
			br
			img.img-circle(alt='160x160', style='width: 160px; height: 160px;', align = 'center',src="images/members/temp.jpg", data-holder-rendered='true')
			h3(style='line-height:2.3em', align = 'center')
				b= info.name
			table.table-info2.table-hover.table-striped
				thead
					tr
						td.category category
						td.detali detali
				tbody
					tr
						td nickname
						td= info.nickname
					tr
						td phone number
						td= info.phone_number
					tr
						td address
						td= info.address
					tr
						td corperation number
						td= info.corp_num


		.col-md-6.myinfo_detail-right
			br
			h3 Seller's products
			br
			br
			br
			h4(align = 'center')	place 3 or 4 square image in here
			br
			br
			h4 link something here to display seller's all products

			h3 posts by me
			br

			table.table.table-hover.table-striped
				thead
					tr
						td.title Title
						td.views Views
				tbody
					tr
						td Replace to database data
						td 5555555

			h4(align = 'right')	view all posts by user(BTN)
		script(language='javascript').
					function showPopup() { window.open("MYpage_change_profile_seller", "TEST", "width=400, height=300, left=100, top=50"); }
					function showPopup_pw() { window.open("MYpage_change_pw", "TEST", "width=400, height=300, left=100, top=50"); }
	.container
		.col-md-12.mypage_private_area
			br
			form
				input(type='button', value = 'Change Profile', onclick='showPopup();')
				input(type='button', value = 'Change Password', onclick='showPopup_pw();')
				input(type='button', value = 'orderlist', href='/MYpage_show_order')
