doctype html
html
	link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
	
	body(onload='window.resizeTo(400,400)')
		h2
			| Order Detail view Page for buyer
		table
			tbodys
				each val in contents
					tr
						td Order number
						td(align='center', onclick='showPopup(#{val.SN});')= val.SN
					tr
						td Date
						td(align='center')= val.date
					tr
						td Seller
						td(align='center')= val.seller_SN
					tr
						td Buyer
						td(align='center')= val.buyer_SN
					tr
						td Total Price
						td(align='center')= val.total_price
					tr
						td state
						td(align='center')= val.state
		button.btn.btn-info(type='button', value = 'Close', onclick='popupClose();') Close
		| &nbsp;
		form(action='/insert_deal', method='post')
			input(type='hidden', value='#{val.SN}', name='order_SN')
			button.btn.btn-info(type='submit', value='Make a deal', onclick='makeAdeal();') Make a Deal
		script(language='javascript').
			function popupClose() {	alert("No change"); window.close(); }
			function makeAdeal() {			}
			function showPopup(num) { window.close(); window.open("MYpage_show_order_list_#{str}?number="+num, "TEST", "width=600, height=500, left=100, top=50"); })
		script(src='js/jquery.min.js')
		script(src='js/bootstrap.min.js')