doctype html
html
	script(language='javascript').
		function popupClose() {	alert("No change"); window.close(); }
		function popupSaveClose() {	alert("Change Complete"); window.close(); }
	body(onload='window.resizeTo(600,700)')
		h2
			| Seller Profile Page
		table
			tr 
				th
				th(width='100px', text-align='center') Detail
				th If want to change, please write down.
			tr
				td Name
				td(align='center')= info.name
				td 
					input(type='text', size='36', placeholder='Cannot change this part', disabled)
			tr
				td Nickname
				td(align='center')= info.nickname
				td 
					input(type='text', size='36', placeholder='Change Nickname')
			tr
				td Phone number
				td(align='center')= info.phone_number
				td 
					input(type='text', size='36', placeholder='Change Phone number')
			tr
				td Corporation number
				td(align='center')= info.corp_num
				td 
					input(type='text', size='36', placeholder='Change Corporation num')
			tr
				td Address
				td(align='center')= info.address
				td 
					textarea(size='25', placeholder='Change Address')
		br
		input(type='button', value = 'Save and Close', onclick='popupSaveClose();')
		input(type='button', value='Close', onclick='popupClose();')