doctype html
html
	link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
	
	body(onload='window.resizeTo(400,400)')
		h2
			| Order Detail view Page for buyer
		table
			tr
				td Order number
				td(align='center', onclick='showPopup(#{info.SN});')= info.SN
			tr
				td Date
				td(align='center')= info.date
			tr
				td Seller
				td(align='center')= info.seller_SN
			tr
				td Buyer
				td(align='center')= info.buyer_SN
			tr
				td Total Price
				td(align='center')= info.total_price
			tr
				td state
				td(align='center')= info.state
		button.btn.btn-info(type='button', value = 'Close', onclick='popupClose();') Close
		| &nbsp;
		form(action='/insert_deal', method='post')
			input(type='hidden', value='#{info.SN}', name='order_SN')
			button.btn.btn-info(type='submit', value='Make a deal', onclick='makeAdeal();') Make a Deal
		script(language='javascript').
			function popupClose() {	alert("No change"); window.close(); }
			function makeAdeal() {			}
			function showPopup(num) { window.close(); window.open("MYpage_show_order_list_#{str}?number="+num, "TEST", "width=600, height=500, left=100, top=50"); })
		script(src='js/jquery.min.js')
		script(src='js/bootstrap.min.js')