extends layout

block style
	style.
		table td {color: black; word-break: break-all;}
		table {min-width: 700px;}
		thead {font-weight: bold;}
		td.no, td.views {min-width: 60px;}
		td.writter, td.date {min-width: 100px;}
		ui.pagination li {display: inline;}

block content
	.container
		table.table.table-hover
			thead
				tr
					td.no No
					td.title Title
					td.writter Writter
					td.date Date
					td.views Views
			tbody
				each val in contents
					tr
						td= val.no
						td= val.title
						td= val.writter
						td= val.date
						td= val.views
		.col-md-12
			ul.pagination
				li FIRST
				li 1
				li 2
				li 3
				li END