extends layout

block style
	style.
		label.hvr-skew-backward {margin-bottom: 50px;}
		#corp_num {display: none;}

block content
	script(langauge='javascript').
		function credit()	{
			alert("Using credit card to pay.");
			$('#credit_card_list').show();
			$('#transfer_bank_list').hide();
		}
		function transfer() {
			alert("Using account transfer to pay.");
			$('#credit_card_list').hide();
			$('#transfer_bank_list').show();
		}
	.container
		br
		br
		h3
			| Payment page
		br
		.payinfo
			h4
			b Order Information 
			.check-out
				.bs-example4(data-example-id='simple-responsive-table')
					.table-responsive
						table#cart.table-heading.simpleCart_shelfItem
							tr
								th.table-grid Item
								th Price
								th Delivery 
								th Amount
								th Subtotal
							each val, index in list
								tr.cart-header
									td.ring-in
										a.at-in(href='/product_detail?no=#{val.no}')
											img.img-responsive(src='images/product/#{val.img_url}', alt='')
										.sed
											h4
												a(href='/product_detail?no=#{val.no}')= val.name
										.clearfix  
									td(id='price#{index}')= val.price
									td FREE SHIPPING
									td
										input(id='amount#{index}', type='text', value='#{val.amount}', size='2', maxlength='2', placeholder='0', disabled)
									td(id='subtotal#{index}')= val.price*val.amount
			br
			| Total price :
			br
			
			.col-md-12.login-do
				form(role = 'form', name = 'payform', method = 'post')
					br
					b Address Selector
					br
					input(type = 'radio', name = 'addr', value = 'new')
					|	New Delivery Address  
					| &nbsp;
					input(type = 'radio', name = 'addr', value = 'existing', checked)
					|	Existing Delivery Address
					.login-mail
						input#address(type = 'text', name = 'address', placeholder = 'write your address here', value='#{address}')
					.login-mail
						input(type = 'text', name = 'phone number', placeholder = 'write your phone number here', value='#{phone_number}')
					.login-mail
						input(type = 'text', name = 'comment', placeholder = 'comment to delivary service')
					br
					b Method of Payment Selector 	
					br
					input(type = 'radio', name = 'method', value = 'credit', onclick = 'credit()')
					|	Credit card  
					| &nbsp;
					input(type = 'radio', name = 'method', value = 'transfer', onclick = 'transfer()')
					|	Account transfer
					.login-mail.pay#credit_card_list
						input(type = 'radio', name = 'method', value = 'visa', onclick = 'credit()', checked)
						|	VISA  
						| &nbsp;
						input(type = 'radio', name = 'method', value = 'master', onclick = 'transfer()')
						|	MASTER Card
					.login-mail.pay#transfer_bank_list
						input(type = 'radio', name = 'method', value = 'wooribank', onclick = 'credit()', checked)
						|	Woori Bank(Account xxxx-xxx-xxxxxx)
						| &nbsp;
						input(type = 'radio', name = 'method', value = 'hanabank', onclick = 'transfer()')
						|	Hana Bank(Account xxxxx-xxxx-xxxxx)	
					br
					a.hvr-skew-backward(onclick='submit()') Submit

block script
	script.
		$(document).ready(function() {
			$("input[name='addr']").change(function() {
				if ($("input[name='addr']").val() == 'new')
					$('#address').val('');
				else
					$('#address').val('#{address}');
			})
		});
			
		function submit() {
			//things to do...
		}
