extends layout

block content
	.container
		.col-md-4.text-center
			img.img-responsive(src = '/images/product/#{product.img_url}', align = 'right')
		.col-md-8.text-left
			h1 Product detail
			br
			h3 Name
			h4= product.name
			h3 Seller
			h4= product.seller
			h3 Price
			h4= product.price
			h3 Stock
			h4= product.stock
		.col-md-12.text-center.image-area
			img.img-responsive(src = 'images/product/#{product.detail_image_url}')
