extends layout

block content
    // banner
    .banner-top
      .container
        h1 Products
        em
        h2
          a(href='/') Home
          label /
          | Products
    // content
    .product
      .container
          //.col-md-12.text-center
          // categories
          .col-md-4.text-center
            h4.cate Categories
            ul.menu-drop
              li.item1
                a(href='#') Completes 
                ul.cute
                  li.subitem1
                    a(href='product_list') Longboard 
                  li.subitem2
                    a(href='product_list') Cruserboard
                  li.subitem3
                    a(href='product_list') Skateboard 
              li.item2
                a(href='#') Component 
                ul.cute
                  li.subitem1
                    a(href='product_list') Truch 
                  li.subitem2
                    a(href='product_list') Wheel
                  li.subitem3
                    a(href='product_list') Deck 
              li.item3
                a(href='#') Accessory
                ul.cute
                  li.subitem1
                    a(href='product_list') Cleaning 
                  li.subitem2
                    a(href='product_list') Protects 
            //.clearfix
            script(type='text/javascript').
              $(function() {
              var menu_ul = $('.menu-drop > li > ul'),
              menu_a  = $('.menu-drop > li > a');
              menu_ul.hide();
              menu_a.click(function(e) {
              e.preventDefault();
              if(!$(this).hasClass('active')) {
              menu_a.removeClass('active');
              menu_ul.filter(':visible').slideUp('normal');
              $(this).addClass('active').next().stop(true,true).slideDown('normal');
              } else {
              $(this).removeClass('active');
              $(this).next().stop(true,true).slideUp('normal');
              }
              });
              });        
          .col-md-4.text-center
            h4.cate color
            .row.row1.scroll-pane
              .col-col-12
                table.filter
                  tr(align='center')
                    td(width='9%')
                      label.checkbok
                        input(type='checkbox', name='checkbox')
                    td(width='9%')
                      label.checkbok
                        input(type='checkbox', name='checkbox')
                    td(width='9%')
                      label.checkbok
                        input(type='checkbox', name='checkbox')
                    td(width='9%')
                      label.checkbok
                        input(type='checkbox', name='checkbox')
                    td(width='9%')
                      label.checkbok
                        input(type='checkbox', name='checkbox')
                    td(width='9%')
                      label.checkbok
                        input(type='checkbox', name='checkbox')
                    td(width='9%')
                      label.checkbok
                        input(type='checkbox', name='checkbox')
                    td(width='9%')
                      label.checkbok
                        input(type='checkbox', name='checkbox')
                    td(width='9%')
                      label.checkbok
                        input(type='checkbox', name='checkbox')
                  tr(align='center')
                    td(width='9%', bgcolor='black')
                    td(width='9%', bgcolor='white')
                    td(width='9%', bgcolor='red')
                    td(width='9%', bgcolor='orange')
                    td(width='9%', bgcolor='yellow')
                    td(width='9%', bgcolor='green')
                    td(width='9%', bgcolor='blue')
                    td(width='9%', bgcolor='purple')
                    td(width='9%', bgcolor='#14ffd6')
            //.clearfix
          .col-md-4.text-center
            h4.cate Price
            .row.row1.scroll-pane
              .col-col-12
                a(align = 'center')      Mimimum  : 

                //| minimum :
                input(type='text', size='4', name='text')
                br

                a(align = 'center')      Maximum  : 
                input(type='text', size='4', name='text')
            //.clearfix
              .col-md-11
              .mid-popular
          .col-md-12  
            each val in list
              .col-md-3.item-grid1.simpleCart_shelfItem
                .mid-pop
                  .pro-img
                    img.img-responsive(src='images/products/#{val.img_url}/0', alt='', align = 'center', height = '200px', width = '200px')
                    .zoom-icon
                      a.picture(href='images/products/#{val.img_url}/0', rel='title')
                        i.glyphicon.glyphicon-search.icon
                      a(href='/product?no=#{val.SN}')
                        i.glyphicon.glyphicon-menu-right.icon
                  .mid-1
                    .women
                      .women-top
                        span #{type}
                        h6
                          a(href='/product?no=#{val.SN}') Sed ut perspiciati
                      .img.item_add
                        a(href='#')
                          img(src='images/ca.png', alt='')
                      .clearfix
                    .mid-2
                      p
                        em.item_price #{val.price} KRW
                      .block
                      .clearfix