extends layout

block content
  .banner-top-checkout
    .container
      h1 Shopping Cart
      em
      h2
        a(href='/') Home
        label /
        | Shopping cart
  
  .container
    .check-out
      .bs-example4(data-example-id='simple-responsive-table')
        .table-responsive
          table#cart.table-heading.simpleCart_shelfItem
            tr
              th.table-grid Item
              th Price
              th Delivery 
              th Amount
              th Subtotal
            each val, index in list
              tr.cart-header
                td.ring-in
                  a.at-in(href='/product_detail?no=#{val.no}')
                    img.img-responsive(src='images/products/#{val.img_url}', alt='')
                  .sed
                    h4
                      a(href='/product_detail?no=#{val.no}')= val.name
                  .clearfix  
                  .close1
                td(id='price#{index}')= val.price
                td FREE SHIPPING
                td
                  input(id='amount#{index}', type='text', value='#{val.amount}', size='2', maxlength='2', placeholder='0', onchange='changeAmount(#{index});', onkeypress='checkNum();')
                td(id='subtotal#{index}')= val.price*val.amount
    .produced
      a.hvr-skew-backward(href='payment') Produced To Buy

block script
  script.
    function changeAmount(index) {
      $('#subtotal'+index).html(parseInt($('#price'+index).html())*parseInt($('#amount'+index).val()));
    }
    function checkNum() {
      if ((event.keyCode<48)||(event.keyCode>57))
        event.returnValue = false;
    }